/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .router-link {
        @apply flex flex-row items-center justify-start px-6 py-4 w-full text-xs font-semibold transform border-l-4 border-blue-200 transition duration-150;
    }

    .router-link:hover {
        @apply border-red-500
    }
    .router-link:hover .wrapper {
        @apply translate-x-2
    }


    .router-link-exact-active {
        @apply text-red-500 border-l-4 border-red-500
    }
    .router-link-exact-active .wrapper {
        @apply translate-x-2
    }
}

body {
    font-family: 'basier', arial;
    font-size: 100%;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

